
Host bastion
  Hostname 192.168.50.20
  ForwardAgent yes
  IdentityFile ~/.ssh/spark_rsa
  StrictHostKeyChecking=no
  User ansible

Host node0
  Hostname 192.168.50.4
  ForwardAgent yes
  IdentityFile ~/.ssh/spark_rsa
  StrictHostKeyChecking=no
  User ansible

Host node1
  Hostname 192.168.50.5
  ForwardAgent yes
  IdentityFile ~/.ssh/spark_rsa
  StrictHostKeyChecking=no
  User ansible

Host node2
  Hostname 192.168.50.6
  ForwardAgent yes
  IdentityFile ~/.ssh/spark_rsa
  StrictHostKeyChecking=no
  User ansible
