
[Unit]
Description=Apache Spark Master and Slave Servers
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
User=spark
Type=forking
ExecStart=/opt/spark/sbin/start-slave.sh spark://192.168.50.4:7077
ExecStop=/opt/spark/sbin/stop-slave.sh spark://192.168.50.4:7077
TimeoutSec=30
Restart=on-failure
RestartSec= 30
StartLimitInterval=350
StartLimitBurst=10

[Install]
WantedBy=multi-user.target
